        /* Add your CSS styling here */
        .axis path,
        .axis line {
            fill: none;
            stroke: black;
            shape-rendering: crispEdges;
        }

        .line {
            fill: none;
            stroke: steelblue;
            stroke-width: 2px;
        }
        
        .tooltip {
            position: absolute;
            text-align: center;
            width: auto;
            height: auto;
            padding: 2px;
            font: 5px sans-serif;
            background: lightsteelblue;
            border: 0px;
            border-radius: 8px;
            pointer-events: none;
            opacity: 0;
        }

        .dot.Developing {
            fill: #4E79A7; /* Màu xanh dương đậm cho quốc gia phát triển */         
        }

        .dot.Developed {
            fill: #ffab00; /* Màu cam cho quốc gia phát triển */            
        }