/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.dashboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px; /* Increased gap for better spacing between charts */
}
  
.graph,
.testing {
    width: calc(50% - 10px);
    margin-bottom: 20px;
}

body, html {
    height: 80%;
    margin: 0;
}
#home {
    display: flex;
  }
  
  .column:first-child {
    flex: 4;  /* This column takes 4/7 of the space */
  }
  
  .column:last-child {
    flex: 3;  /* This column takes 3/7 of the space */
  }
  .column {
    padding: 0; /* Ensures no padding between columns */
  }
      
/* WORLD MAP */
#worldmap {
    
    width: 100%; /* or any other size */
    height: 300px; /* or any other size */
}


#tooltip {
    position: absolute;
    display: none;
    background-color: white;
    border: 1px solid black;
    padding: 5px;
    pointer-events: none; /* Ensure the tooltip doesn't interfere with mouse events */
}
/* WORLD MAP */

/*avg line chart */
.avg-line-chart {
    display: flex;
    justify-content: right;
    margin-top: 50px;
    width: 45%;
  }
  
/*avg line chart */

.chart-container {
    width: 100%; /* Set the width for each chart container */
    padding: 10px;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.bar {
    width: 70%;
}

html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

.clear {
    clear: both;
}

#header {
    background: linear-gradient(45deg, #29aeec, #df494b);
    height: 46px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    position: fixed;
}

#nav {
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav > li {
    display: inline-block;
}

#nav li a {
    line-height: 46px;
    padding: 0 24px;
    text-decoration: none;
    display: block;
}

#nav > li > a {
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
}

#nav > li:hover > a {
    color: #000;
    background-color: #88cde6;
}
.charts-container {
    display: flex;
    justify-content: space-around;
    align-items: center;  /* This centers the charts vertically within the container */
}

.chart-container {
    flex-basis: 300px; /* This ensures that each container is at least 300px wide */
    margin: 10px; /* Provides some space around each chart */
}
.chart-container {
    width: 80%;
    margin: auto;
    height: 300px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
/* YEAR_LINE */
.axis path,
.axis line {
    fill: none;
    stroke: rgb(255, 244, 244);
    shape-rendering: crispEdges;
}
.axis text {
    font-family: sans-serif;
    font-size: 12px;
}
.line {
    fill: none;
    stroke: blue;
    stroke-width: 2;
}
.tooltip {
    position: absolute;
    text-align: center;
    width: 120px;
    height: 50px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    opacity: 0;
}
select {
    margin: 10px;
    padding: 5px;
}
/*YEAR_LINE */

/*Line.js */
.line {
    fill: none;
    stroke: blue;
    stroke-width: 2px;
}
.line {
    display: flex;
    justify-content: right;  /* Centers the iframe horizontally in its container */
    margin-top: 10px;         /* Adds space above the iframe */
}
#countrySelector {
    flex-basis: 30%; 
}

/*Line.js*/